* {
    box-sizing:border-box;
    /* outline: 1px solid red; */
    /* ^ Code to see DIV Borders ^ */
}


body {
    margin:0;
    }

.websiteBackgroundTop {
    background-color:#3693D6;
    background: url("https://i.pinimg.com/originals/1d/4c/6c/1d4c6c316681c90f30baeeddda1fd9a9.png") center;
    background-size: cover;
    background-repeat: repeat;
    padding-bottom: 100px;
    }


.titleBar {
    font-family: 'harry_pregular';
    font-size: 45px;
    padding-left: 20px;
    text-shadow: .5px .5px 2px hsl(54, 100%, 50%);
    display:flex;
    border-top: 1px solid black;
    justify-content: center;
    padding-bottom: 10px;
    padding-top:13px;
    
}

.containerBig{
    display:flex;
    justify-content: center;
    align-items:center;
    text-align: center;

}

.containerBackground{
    width:95%;
    display:flex;
    justify-content: center;
    border: 1px solid black;
}

.tabContainer {
    display:flex;
    justify-content: center;
    text-align: center;
    width:100vw;
    background-color: red;
    height:40px;    
}

.tab {
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: lightslategray;
    width: 100%;
    border-top:.1px solid black;
    border-right:.1px solid black;
    border-bottom:.1px solid black;
    border-left:.1px solid black;
}


.characterContainer{
    width:100%;
    display:flex;
    justify-content: center;
    
}

.characterViewBox{
    width:95%;
    height: 500px;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color:lightgray;
}


.websiteBackgroundBottom {
    background-color:#3693D6;
    background: url("https://i.pinimg.com/originals/1d/4c/6c/1d4c6c316681c90f30baeeddda1fd9a9.png") center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px; 
    position: fixed; 
    bottom:0%;
    width:100%;  
    border-top: 1px solid black;
    }

#name {
    font-size: 30px;
    margin-top: -60px;
}
    
.characterBio {
    margin-left: 100px;
}












/* Smaller Than Laptop  */
@media (max-width: 1000px){
}




/* Tablets */
@media (max-width: 800px)
{}



/* Super Small devices */
@media (max-width: 500px){}

/* Small devices */
@media (max-width: 600px){}